/* CSS declarations go here */
body {
  background-color: black;
  color: white;
}

.back-text {
  font-size: 1.5vw; 
  padding-left: 1.5vw;
}

.no-outline {
  outline:0;
}

.primary-text {
  font-size: 7.5vw;
  font-weight: 700;
  letter-spacing: .04em;
  border: none;
  background: 0 0;
}

.secondary-text {
  font-size: 3vw;
  font-weight: 100;
  letter-spacing: .04em;
  border: none;
  background: 0 0;
}

.tertiary-text {
  font-size: 2vw;
  font-weight: 100;
  letter-spacing: .04em;
  border: none;
  background: 0 0;
}

.primary-button {
  font-size: 3vw;
  font-weight: 800;
  letter-spacing: .04em;
  background-color: black;
  border-color: white;
}

.secondary-button {
  font-size: 2vw;
  font-weight: 800;
  letter-spacing: .04em;
  background-color: black;
  border-color: white;
}

.primary-button:hover, .primary-button:hover:focus,
.secondary-button:hover, .secondary-button:hover:focus  {
  background: white !important;
  color: black;
}

.primary-button:focus 
.secondary-button:focus {
  background: black;
  color: white;
}

.btn:focus, .btn:active:focus { outline: none; outline-style: none; }

.frequency-list {
  list-style-type: none;
  padding:0; 
  float: none;
  margin: 0 auto;
}

.frequency-list li {
  background-color: white;
  color: black;
}

.frequency-list li:hover {
  background-color: black;
  color: white;
}

.input-error {
  color: red;
}

.search-header {
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 2vw;
}

.search-list {
  list-style-type: none;
  padding:0;
  float: none;
  margin: 0 auto;
  max-height: 40vw;
  overflow-y: auto;
}

.search-list li:hover {
  color: #428bca;
}

.accept {
  color: green;
}

.lightgreen {
  color: lightgreen;
}

.money {
  color: green;
}

.money::-webkit-input-placeholder { /* WebKit browsers */
  color: lightgreen;
}

.notification-selector {
  padding: 5px;
  background-color: black; 
  color: gray;
}

.notification-selector:hover {
  background-color: white; 
  color: black;
}

.notification-selector-selected {
  padding: 5px;
  background-color: white; 
  color: black;
}