<template name="charities-list.html">
  <h1>Charities List</h1>

  <h3>Verified Charities</h3>

  <ul>
    <li ng-repeat="charity in charities | filter: { verified: true } ">
      <a ui-sref="charities.charity({charityId: charity._id})">[[charity.name]]</a>
      <button ng-click="charitieslistctrl.removeCharity(charity)">X</button>
    </li>
  </ul>

  <h3>Unverified Charities</h3>
  
  <ul>
    <li ng-repeat="charity in charities | filter: { verified: false } ">
      <a ui-sref="charities.charity({charityId: charity._id})">[[charity.name]]</a>
      <button ng-click="charitieslistctrl.removeCharity(charity)">X</button>
    </li>
  </ul>
</template>