<template name="charities-list.html">
  Charities List
  <ul>
    <li ng-repeat="charity in charities">
      <a href="/charities/[[charity._id]]">[[charity.name]]</a>
      <button ng-click="removeCharity(charity)">X</button>
    </li>
  </ul>
  <form>
    <label>Name</label>
    <input ng-model="newParty.name">
    <button ng-click="addCharity(newParty)">Add</button>
  </form>
  <button ng-click="testLogin()">Test</button>
  <ul>
    <li ng-repeat="user in users">
      [[user]]
    </li>
  </ul>
</template>