.pickadate-header {
  position: relative;
}

.pickadate {
  font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
}

.pickadate-main {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 1.5vw;
}

.pickadate a:visited, .pickadate a {
  color: #666666;
}

.pickadate-cell {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* general cells */
.pickadate-cell li {
  display: block;
  border-radius: 50%;
  float: left;
  margin-left: 4%;
  margin-right: 4%;
  width: 6.285%;
  padding: 1.1% 0 1.1% 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* bottom cells */
.pickadate-cell li:nth-child(7n+0) {

}

/* left-most cells */
.pickadate-cell li:nth-child(1),
.pickadate-cell li:nth-child(8),
.pickadate-cell li:nth-child(15),
.pickadate-cell li:nth-child(22),
.pickadate-cell li:nth-child(29),
.pickadate-cell li:nth-child(36) {
  
}

.pickadate-cell .pickadate-disabled,
.pickadate-cell .pickadate-disabled a {
  color: rgb(58, 56, 56);
}

.pickadate-cell .pickadate-enabled {
  cursor: pointer;
  color: gray;
}

.pickadate-cell .pickadate-today {
  background-color: #eaeaea;
}

.pickadate-cell .pickadate-active {
  background-color: #0DC700;
}

.pickadate-cell .pickadate-active {
  color: white;
}

/* weekday headers */
.pickadate-cell .pickadate-head {
  font-size: 1.5vw;
}

/* weekend headers */
.pickadate-cell .pickadate-head:nth-child(1),
.pickadate-cell .pickadate-head:nth-child(7) {
  
}

.pickadate-centered-heading {
  font-weight: normal;
  text-align: center;
  margin: 2vw 0 2vw 0;
}

.pickadate-controls {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.pickadate-prev {
  margin-top: 1%;
  margin-left: 20%;
  float: left;
}

.pickadate-next {
  margin-top: 1%;
  margin-right: 20%;
}

.pickadate-controls .pickadate-next {
  float: right;
}

.pickadate-controls a {
  text-decoration: none;
  font-size: 1.5vw;
}
