<template name="notifications.html">
  <a ui-sref="create.stakes">Back</a>
  <form>
    <h3>Reminders</h3>
    <label>remind me to blah</label>
    <input type="text" placeholder="daily">

    <label>contact me by </label>
    <input type="text" placeholder="text">

    <h3>Alerts</h3>
    <input type="checkbox">send me alerts when I fail to report blahing and at risk of donating $100 to Doctors Without Borders for the week.
    <label>contact me by </label>
    <input type="text" placeholder="text">

    <p>you can change these settings later if you're getting bugged too much, or not enough</p>
    <button ui-sref="dashboard">Complete</button>
  </form>
</template>