<template name="stakes.html">
  <div class="row">
    <div class="col-xs-2">
      <a ui-sref="create.commit"><p class="text-uppercase secondary-text" style="font-size: 20px; padding-left: 20px"><span class="glyphicon glyphicon-chevron-left"></span> back</p></a>
    </div>
  </div>
  <div class="row text-center" ng-show="!stakesctrl.showStakes">
    <div class="col-xs-offset-2 col-xs-8">
      <p class="text-uppercase secondary-text">starting today, </p>
      <p class="text-center text-uppercase secondary-text" style="font-weight: 700;">
        [[stakesctrl.commitmentString]]
      </p>
    </div>
    <br>
    <br>
    <div class="row text-center">
      <button class="btn primary-button text-uppercase" style="margin: 10px" ng-click="stakesctrl.showStakes = true;">put $$$ on the line</button>
      <button class="btn primary-button text-uppercase" ng-click="stakesctrl.clearStakes()" style="margin: 10px">no stakes</button>
    </div>
  </div>
  
  <div class="row text-center" ng-show="stakesctrl.showStakes">
    <h1 class="text-uppercase primary-text">put $$$ on the line<a ng-click="stakesctrl.showStakes = false;"><sup><span class="glyphicon glyphicon-remove"> </span></sup></a></h1>
    <p class="text-uppercase secondary-text">If I don't succeed, my money will go to:</p>
    <div ng-show='!stakesctrl.stakes.charityType'>
      <button class="btn primary-button text-uppercase" style="margin: 20px" ng-click="stakesctrl.stakes.charityType = 'charity';">charity</button>
      <button class="btn primary-button text-uppercase" style="margin: 20px" ng-click="stakesctrl.stakes.charityType = 'anti-charity';">anti-charity</button>
    </div>
  </div>
  <div class="row text-center" ng-show="stakesctrl.showStakes && stakesctrl.stakes.charityType">
    <h1 ng-show="!selectedCharity" class="col-xs-12 text-uppercase secondary-text" style="font-weight: 700;">[[stakesctrl.stakes.charityType]]<a ng-click="stakesctrl.stakes.charityType = null;"><sup><span class="glyphicon glyphicon-remove"> </span></sup></a></h1>
    <div class="row" style="color: #bfbfbf;" ng-show="!selectedCharity">
      <h3 class="col-xs-12 text-uppercase search-header">search charities</h3>
      <div class="row text-center">
        <span class="glyphicon glyphicon-search secondary-text"> </span>
        <input edit-inline padding="20" type="text" name="charity" class="text-left secondary-text no-outline" ng-model="stakesctrl.search" style="color: white">
      </div>
      <h3 ng-show="stakesctrl.search" class="text-uppercase search-header">[[charities && filtered.length + ' matches' || 'no matches found']]</h3>
      <div class="row text-center text-uppercase secondary-text">
        <div class="col-xs-8 col-xs-offset-2">
          <ul class="search-list">
            <li class="col-xs-12 text-left" ng-repeat="charity in filtered = (charities | filter: {name: stakesctrl.search})">
              <span ng-click="stakesctrl.selectCharity(charity);">[[charity.name]]</span> <a ng-show="charity.href" target="_blank" ng-href="[[charity.href]]" class="text-lowercase" style="font-size: 20px">website</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row text-center" ng-show="selectedCharity">
      <h1 class="col-xs-12 text-uppercase secondary-text" style="font-weight: 700;"><a target="_blank" ng-href="[[selectedCharity.href]]"><span>[[selectedCharity.name]]</span></a><a ng-click="selectedCharity = null; stakesctrl.stakes.ammount = null; stakesctrl.acceptConditions = false;"><sup><span class="glyphicon glyphicon-remove"> </span></sup></a></h1>
      <div class="col-xs-12">
        <form name="stakesForm" ng-submit="stakesctrl.submit()" novalidate>
          <label class="text-uppercase secondary-text">the stakes:</label>
          <label class="text-uppercase primary-text" ng-class="{'input-error': stakesctrl.stakes.ammount && !stakesctrl.isValidAmmount(stakesctrl.stakes.ammount), 'money': stakesctrl.isValidAmmount(stakesctrl.stakes.ammount), 'lightgreen': !stakesctrl.stakes.ammount}"> $</label>
          <input edit-inline type="text" class="text-uppercase text-left primary-text no-outline" ng-class="{'input-error': stakesctrl.stakes.ammount && !stakesctrl.isValidAmmount(stakesctrl.stakes.ammount), 'money': !stakesctrl.stakes.ammount || stakesctrl.isValidAmmount(stakesctrl.stakes.ammount)}" style="min-width: 200px" placeholder="100" ng-model="stakesctrl.stakes.ammount">
          <label class="text-uppercase secondary-text">every week</label>
          <div class="row">
            <div class="col-xs-offset-3 col-xs-6 text-uppercase">
              <p style="font-size: 20px">*If you don't succeed in a given week, we will notify you that a donation is pending to <span style="color: #428bca;">[[selectedCharity.name]]</span>. You have up to <span style="font-size: 30px;"><b>2 WEEKS</b></span> to cancel the donation, after which time your donation <span style="font-size: 30px;"><b>WILL BE PROCESSED WITHOUT REFUND</b></span>. No backsies!</p>
              <br>
              <div class="row">
                <div class="btn col-xs-2 btn primary-button text-uppercase" ng-click="stakesctrl.acceptConditions = !stakesctrl.acceptConditions;"><span class="glyphicon glyphicon-ok" ng-class="{accept: stakesctrl.acceptConditions}"></span></div>
                <p class="col-xs-10 text-left" style="font-size: 20px">*I have read and agreed to the <span>terms and conditions</span>, and I understand that my credit card may be charged up to $500.</p>
              </div>
            </div>
          </div>
          <br>
          <button type="submit" class="btn primary-button text-uppercase" ng-disabled="!(selectedCharity && stakesctrl.stakes.charityType && stakesctrl.acceptConditions && stakesctrl.stakes.ammount && stakesctrl.isValidAmmount(stakesctrl.stakes.ammount))">set stakes</button>
        </form>
      </div>
    </div>
  </div>
  <br>
</template>